:root {
  --red: #ff0000;
  --dark-red: #d10000;
  --grey: #e3e3e3;
  --light-grey:#aaa;
  }



.left-panel img{
  width:640px;
  height:713px;
  padding: 50px;
opacity: 0.5;
} 
.left-panel img:hover{
  opacity: 1.0;
}
.title {
  font-size: 2.2rem;
  color: #bc3939;
  margin-bottom: 10px;
}
.fields{
  margin-left: 100px;
  margin-top: 20px;
}
.input-field {
  max-width: 300px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}
.align-left{
  float: left;
}
.align-right{
  margin-right: 80px;
  float: right;
}
.alignLeft{
  margin-left: 70px;
}
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.form-sel{
  border: none;
  outline: none;
  display: block;
  background-color: transparent; 
  font-size: 1.1rem;
  width: 280px;
  color:var(--light-grey);
}

/* Date Time Picker */
*,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}
input[type="date"]{
padding: 15px;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
font-family: "Roboto Mono",monospace;
color:var(--light-grey);
font-size: 18px;
border: none;
outline: none;
border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
background-color: #ffffff;
padding: 5px;
cursor: pointer;
border-radius: 3px;
}
.date-time-picker{
background-color: transparent;
padding: 15px;
transform: translate(-50%,-50%);
font-family: "Roboto Mono",monospace;
font-size: 18px;
border: none;
outline: none;
margin-left: 90px;
margin-top: 30px;
}


/* radio button */
.sty{
font-size: 20px;
}
.radioContainer{
  display: flex;
  position: absolute;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  user-select: none;
  padding-left: 30px;
  top: 400px;
  left:720px;
}
.align1{
margin-left: 120px;
}
.align2{
margin-left: 200px;
}
.align3{
margin-left: 300px;
}
.radioContainer input{
  display: none;
}
.radioContainer .circle{
  display: flex;
  width: 25px;
  height: 25px;
  background-color: #eee;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.radioContainer:hover .circle{
  background-color: #ccc;
}
.radioContainer input:checked + .circle{
  background-color: #fc2121;
}
.radioContainer input:checked + .circle:after{
content: "";
height: 10px;
width: 10px;
background-color: white;
position: relative;
border-radius: 50%;
left: 50%;
top: 50%;
transform: translate(-50%, -50%)
}

/* textArea */
textarea{
resize: none;
display:flex;
position: absolute;
top:450px;
font-size: 20px;
color:#555;
padding: 10px;
border-radius: 20px;
}

/* Button */
.button-style{
position: absolute;
display: flex;
font-size: 18px;
width:90px;
height:40px;
border-radius: 27px;
top:650px;
}
.reset-sty{
background-color: var(--red);
padding-left: 18px;
margin-left:230px;
}
.submit-sty{
background-color: #17e61b;
margin-left:380px;
padding-left: 10px;
}

/* image */
.container {
position: absolute;
top:450px;
display:flex;
margin-left: 400px;
width: 300px;
background:var(--grey);
padding: 15px;
border-radius: 30px;
height:190px;
}
.img-area {
position: relative;
width: 100%;
height: 120px;
background: #ffffff;
/* margin-bottom: 30px; */
border-radius: 15px;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.img-area .icon {
font-size: 50px;
}
.img-area h3 {
font-size: 20px;
font-weight: 500;
margin-bottom: 6px;
}
.img-area img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
z-index: 100;
}
.img-area::before {
content: attr(data-img);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, .5);
color: #fff;
font-weight: 500;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
pointer-events: none;
opacity: 0;
transition: all .3s ease;
z-index: 200;
}
.img-area.active:hover::before {
opacity: 1;
}
.select-image {
display: block;
width: 150px;
padding: 7px 0;
border-radius: 15px;
background: var(--red);
color: #fff;
font-weight: 500;
font-size: 16px;
border: none;
cursor: pointer;
  position:absolute;
  top:150px;
   margin-left: 60px;
transition: all .3s ease;
}
.select-image:hover {
background: var(--dark-red);
} 
.login{
  position: absolute;
  margin-left: 300px;
  top:670px;
}
